{% from "../../../macros/tableMacro.njk" import sortableTableHeader %}
{% from "../../../macros/pagination/macro.njk" import pagination %}

{% set hasData = false %}
{% for key, value in ciagOffenders %}
 {% set hasData = true %}
{% endfor %}


<div id="offender-container">
    {% if hasData %}
        <table id="view-offender" class="govuk-table view-offender">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "lastName",
                    headerText: "Prisoner"
                }) }}
                 {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "cellLocation",
                    headerText: "Location"
                }) }}
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "releaseDate",
                    headerText: "Release date"
                }) }}
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "receptionDate",
                    headerText: "Entered prison on"
                }) }}
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "status",
                    headerText: "Status"
                }) }}
            </tr>
            </thead>

            <tbody class="govuk-table__body">
                {% set rowClass = cycler("odd", "even") %}

                {% for key, offender in ciagOffenders %}
                    <tr class="govuk-table__row {{ rowClass.next() }}">
                        <td class="govuk-table__cell" width="30%">
                            <a href="{{ addressLookup.workPlan(offender.prisonerNumber) if offender.status === "NEEDS_PLAN" else addressLookup.learningPlan.profile(offender.prisonerNumber, 'overview') }}"
                            rel="noopener noreferrer"
                            data-qa="quick-look-link"
                            aria-label="Profile link for {{ offender.lastName | trim }}, {{ offender.firstName }}"
                            class="govuk-link govuk-link--no-visited-state">{{ offender.lastName | trim }}, {{ offender.firstName }}</a>
                            </br><span class="govuk-hint govuk-!-margin-bottom-0">{{ offender.prisonerNumber }}</span>
                        </td>
                        <td class="govuk-table__cell" width="15%">
                            {{ offender.cellLocation }}
                        </td>
                        <td class="govuk-table__cell" width="20%">
                            <p>{{ offender.releaseDate or 'N/A' }}</p>
                        </td>
                        <td class="govuk-table__cell" width="20%">
                            {{ offender.receptionDate or 'N/A' }}
                        </td>
                        <td class="govuk-table__cell" width="15%">
                            {% if offender.status === 'NEEDS_PLAN' %}
                                <strong class="govuk-tag govuk-tag--red">Needs plan</strong>            
                            {% elif offender.status === 'NEEDS_REVIEW'%}
                                <strong class="govuk-tag govuk-tag--yellow">Needs review</strong>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ pagination( paginationData ) }}

    {% else %}
        {% include './_notFoundMessages.njk' %}
    {% endif %}
</div>