<div class="govuk-form-group filter-box govuk-!-margin-top-4" style="padding-left: 0px">
    <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-2" style="padding-left:16px">
            Filter by 
        </legend>
        <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group govuk-!-margin-bottom-2">

                <label class="govuk-label moj-search__label" for="searchTerm">
                   Prisoner's name
                </label>
                <input class="govuk-input moj-search__input"
                        id="searchTerm"
                        name="searchTerm"
                        type="search"
                        value="{{ searchTerm }}"
                        maxlength="200"
                />
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="moj-search">
                <div class="govuk-form-group govuk-!-margin-bottom-2 govuk-!-margin-right-2">
                    <label class="govuk-label moj-search__label" for="statusFilter">
                        Status
                    </label>
                    <select class="govuk-select" id="statusFilter" name="statusFilter">
                        <option value="" {{ 'selected' if statusFilter === ''}}>All statuses</option>
                        <option value="NEEDS_PLAN" {{ 'selected' if statusFilter === 'NEEDS_PLAN'}}>Needs plan</option>
                     </select>
                </div>
                <span style="display: inline-block; margin-top: 32px;">
                    <button class="govuk-button moj-search__button govuk-!-margin-bottom-2 govuk-!-margin-left-0" data-module="govuk-button" id="searchButton" >
                        Apply filters
                    </button>
                    {% if searchTerm or statusFilter %}
                        <a class="govuk-link clear-link" href="{{ addressLookup.ciagList() }}"
                        aria-label="Clear prisoner name filter option">Clear</a>
                    {% endif %}
                </span>
            </div>

        </div>
    </form>
</div>