{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% if isBeta %}
  {% set betaHtml %}
    <span>This is a new service - 
      {% if betaHelpLink %}
        <a href="{{ betaHelpLink }}" target="_blank">get help</a>
      {% else %}
        get help 
      {% endif %}
      or 
      {% if betaFeedbackLink %}
        <a href="{{ betaFeedbackLink }}" target="_blank">give your feedback</a>
      {% else %}
        give your feedback
      {% endif %} to help us improve it.</span>
  {% endset -%}


  {{ govukPhaseBanner({
    tag: {
      text: 'BETA'
      },
    html: betaHtml if (betaHelpLink or betaFeedbackLink) else ''
  }) }}
{% endif %}