{% extends "../../partials/layout.njk" %}
{% from "../../partials/navBar.njk" import navBar with context %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% set title = 'Redirecting to page' %}

{#
  Data supplied to this template:
    * url - url to be forwarded to
#}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <input type="hidden" name="redirectUrl" value="{{ url }}" />
      <a href="{{ url }}" id="continue">Continue</a>
    </div>
  </div>
{% endblock %}