<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Create goals and add education, work, skills and interests to <a class="govuk-notification-banner__link" id="overview-create-plan-link" href="{{ addressLookup.createPlan.hopingToGetWork(prisoner.prisonerNumber) }}">make a progress plan now</a>.
    </p>
  </div>
</div>
