{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
    name: "addQualification",
    fieldset: {
        legend: {
            text: "Does " + prisoner.firstName + " " + prisoner.lastName + " have any other educational qualifications they want to be recorded?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
        }
    },
    items: [
        {
            value: "YES",
            text: contentLookup.fields.yesNo["YES"],
            checked: rightToWork === "YES"
        },
        {
            value: "NO",
            text: contentLookup.fields.yesNo["NO"],
            checked: rightToWork === "NO"
        }
    ],
    errorMessage: errors.rightToWork
}) }}