<h2 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-6">Qualifications and training</h2>

{% if hopingToGetWork !== 'YES' %}
  <dl class="govuk-summary-list govuk-!-margin-bottom-8">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
        Has educational qualifications they want recorded					
      </dt>
      <dd class="govuk-summary-list__value">
        {{ contentLookup.fields.yesNo[record.wantsToAddQualifications] if record.wantsToAddQualifications }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{ addressLookup.createPlan.wantsToAddQualifications(id, 'edit') }}">
          Change<span class="govuk-visually-hidden"> whether they want educational qualifications recorded</span>
        </a>
      </dd>
    </div>
  </dl>
{% endif %}

{% if record.qualifications.length and record.wantsAddQualifications === 'YES' %}
  <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-3">
    Educational qualifications
    <span><a class="gov-link govuk-!-font-weight-regular" style="float:right; color:#1d70b8" href="{{ addressLookup.createPlan.qualifications(id, 'edit') }}">Change <span class="govuk-visually-hidden"> qualifications</span></a></span>
  </h3>

  <table class="govuk-table govuk-!-margin-bottom-6">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Level</th>
        <th scope="col" class="govuk-table__header">Subject</th>
        <th scope="col" class="govuk-table__header">Grade</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for item in record.qualifications %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ contentLookup.pages.qualifications.level[item.level] }}</td>
            <td class="govuk-table__cell">{{ item.subject }}</td>
            <td class="govuk-table__cell">{{ item.grade }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endif %}

<dl class="govuk-summary-list govuk-!-margin-bottom-8">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
      Other training or qualifications
    </dt>
    <dd class="govuk-summary-list__value">
      {% for item in record.additionalTraining %}
        <div>{{ contentLookup.fields.additionalTraining[item] }}{{ ' - ' + record.additionalTrainingOther if item === 'OTHER' }}{{ ',' if record.additionalTraining.length !== loop.index }}</div>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ addressLookup.createPlan.additionalTraining(id, 'edit') }}">
        Change<span class="govuk-visually-hidden"> other training or qualifications</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
  </div>
</dl>