<h2 class="govuk-heading-m">Work on release</h2>
  <dl class="govuk-summary-list govuk-!-margin-bottom-8">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
        Hoping to work on release
      </dt>
      <dd class="govuk-summary-list__value">
        {{ contentLookup.fields.hopingToGetWork[record.hopingToGetWork] if record.hopingToGetWork }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{ addressLookup.createPlan.hopingToGetWork(id, 'edit') }}">
          Change<span class="govuk-visually-hidden"> whether they're hoping to work when they're released</span>
        </a>
      </dd>
    </div>
  </dl>