{% extends "../../partials/layout.njk" %}
{% from "../../partials/navBar.njk" import navBar with context %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}


{% set title = prisoner.firstName + " " + prisoner.lastName + "'s learning and work progress" %}

{#
  Data supplied to this template:
    * backLocation - url of the back link
    * prisoner - prisoner object
    * plan - Work plan, may be null
#}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Digital prison services",
                href: dpsUrl
            },
            {
                text: "Learning and work progress",
                href: "/"
            }
        ],
        classes: 'govuk-!-display-none-print'
    })
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
     <div class="govuk-grid-column-one-quarter" style="width:22%;">
      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-5">Prison number: <span class="govuk-body" data-qa="prison-number">{{ prisoner.prisonerNumber }}</span></p>
    </div>
    <div class="govuk-grid-column-one-quarter" style="width:30%;">
      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-5">Entered this prison on: <span class="govuk-body" data-qa="entered-prison-date">{{ prisoner.receptionDate }}</span></p>
    </div>
    <div class="govuk-grid-column-one-quarter" style="width:22%;">
      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-5">Release date: <span class="govuk-body" data-qa="release-date">{{ prisoner.releaseDate }}</span></p>
    </div>
    <div class="govuk-grid-column-one-quarter" style="width:22%;">
      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-5">DOB: <span class="govuk-body" data-qa="date-of-birth">{{ prisoner.dateOfBirth }}</span></p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Learning and work progress</span>
      <h1 class="govuk-heading-l">{{ title }}</h1>
    </div>
  </div>

  {% include './partials/_navigation.njk' %}

  {% include './partials/_overviewTabContents.njk' %}

  {# Tabs to add back in when agreed #}

  {# {% if tab === 'overview' %}
    {% include './partials/_overviewTabContents.njk' %}
  {% endif %}

  {% if tab === 'details' %}
    {% include './partials/_detailsTabContents.njk' %}
  {% endif %}

  {% if tab === 'training' %}
    {% include './partials/_trainingTabContents.njk' %}
  {% endif %}

  {% if tab === 'experience' %}
    {% include './partials/_experienceTabContents.njk' %}
  {% endif %}

  {% if tab === 'contacts' %}
    {% include './partials/_contactsTabContents.njk' %}
  {% endif %} #}
{% endblock %}