{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/navBar.njk" import navBar with context %}
{% from "../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}

{% set title = prisoner.firstName + " " + prisoner.lastName + "'s qualifications" %}

{#
  Data supplied to this template:
    * backLocation - url of the back link
    * prisoner - object with firsName and lastName
    * Functionsl Skills - Existing data
    * addQualificationsLite - Existing field values
    * errors? - validation errors
#}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLocation }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(errors) }}

      <h1 class="govuk-heading-l">{{ title }}</h1>

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {% include './partials/_assessments.njk' %}

        {{ govukRadios({
            name: "addQualificationsLite",
            fieldset: {
                legend: {
                    text: "Does " + prisoner.firstName + " " + prisoner.lastName + " have any other educational qualifications they want to be recorded?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                    value: "YES",
                    text: contentLookup.fields.yesNo["YES"],
                    checked: addQualificationsLite === "YES"
                },
                {
                    value: "NO",
                    text: contentLookup.fields.yesNo["NO"],
                    checked: addQualificationsLite === "NO"
                }
            ],
            errorMessage: errors.addQualificationsLite
        }) }}

        <div class="govuk-form-group">
          {{ govukButton({
            text: "Continue",
            type: "submit",
            attributes: {"data-qa": "submit-button"}
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}